@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "poppins"; */
  /* color: #100f1a; */
}

.navbar {
  height: 90px;
  border: 1px solid gray;
}
.carousel {
  background-image: url("/public/images/dashboard-bg.svg");
  background-size: cover;
}

.border-gradient {
  border-image-slice: 1;
  border-width: 2px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #67c2ee, #f0aeff);
 
}
